{!-- layout used --}
{layout="layouts/_page"}

{!-- passing variables to layout template --}
{layout:set name="currentNav" value="blog"}

{exp:channel:entries channel="blogs" limit="1" disable="categories|category_fields|member_data|trackbacks" require_entry="yes"}

	{!-- strict URLs and 404 --}
	{if no_results}{redirect="404"}{/if}

	{!-- passing variables to layout template --}
	{layout:set name="htmlTitle" value="Blog - {title}"}

	<h1>{title}</h1>
	<p class="meta-info"><time datetime="{entry_date format="%Y-%m-%d"}">{entry_date format="%F %j, %Y"}</time></p>
	<p class="imgholder"><img src="{cf_blog_img:bigthumb}" alt="{cf_blog_imgcaption}" /></p>
	<p>{cf_blog_summary}</p>
	{cf_blog_body}

	{!-- Related blogs list --}
	{cf_blog_related}
		{if cf_blog_related:count == 1}
			<h2>Related Posts</h2>
			<ul class="related">
		{/if}
			<li class="related__item"><a href="{path='blog/post'}/{cf_blog_related:url_title}">{cf_blog_related:title}</a></li>
		{if cf_blog_related:count == cf_blog_related:total_results}</ul>{/if}
	{/cf_blog_related}

{/exp:channel:entries}