<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>RSS - Blogposts - My awesome site</title>
      <link>{site_url}</link>
      <description>description for my awesome site</description>
      <language>en-uk</language>
      <atom:link href="{path='blog/rss'}" rel="self" type="application/rss+xml" />
      <pubDate>{current_time format="{DATE_RSS}"}</pubDate>
      <lastBuildDate>{current_time format="{DATE_RSS}"}</lastBuildDate>
      <managingEditor>webmaster@mysite.com</managingEditor>
      <webMaster>webmaster@mysite.com</webMaster>

      {exp:channel:entries channel="blogs" disable="category_fields|member_data|pagination|trackbacks" status="not closed" orderby="date" sort="desc" limit="10"}
         <item>
            <title><![CDATA[{title}]]></title>
            <pubDate>{entry_date format="{DATE_RSS}"}</pubDate>
            <description><![CDATA[<p>{cf_blog_summary}</p>]]></description>
            {categories}<category><![CDATA[{category_name}]]></category>{/categories}
            <link>{url_title_path="blog/post"}</link>
            <guid>{url_title_path="blog/post"}</guid>
         </item>
      {/exp:channel:entries}

   </channel>
</rss>