{!-- Layout used --}
{layout="layouts/_page"}

{!-- Passing vars to layout --}
{layout:set name="htmlTitle" value="Work archive"}
{layout:set name="currentNav" value="work"}

<h1 class="title-page">{gv_worklist_title}</h1>
<p class="intro">{gv_worklist_intro}</p>

{!-- list entries --}
{exp:channel:entries channel="works" orderby="date" sort="desc" limit="2" disable="member_data|trackbacks" pagination="bottom" dynamic="no"}

	{if count == 1}<ul>{/if}

		<li>
			<article>
				<p class="imgholder"><a href="{url_title_path='work/detail'}"><img src="{cf_work_img:smallthumb}" alt="{cf_work_imgcaption}" /></a></p>
				<h2><a href="{url_title_path='work/detail'}">{title}</a></h2>
				<p class="meta-info"><time datetime="{entry_date format="%Y-%m-%d"}">{entry_date format="%F %j, %Y"}</time></p>
				<p>{cf_work_summary}</p>
			</article>
		</li>

	{if count == total_results}</ul>{/if}

	{!-- no results --}
	{if no_results}<p>No work found</p>{/if}

	{!-- pagination --}
	{paginate}
		{pagination_links}
			<ul class="pagination">
				{first_page}
					<li><a href="{pagination_url}" class="pagination__first">First Page</a></li>
				{/first_page}

				{previous_page}
					<li><a href="{pagination_url}" class="pagination__previous">Previous Page</a></li>
				{/previous_page}

				{page}
					<li><a href="{pagination_url}" class="pagination__page {if current_page}pagination__page--current{/if}">{pagination_page_number}</a></li>
				{/page}

				{next_page}
					<li><a href="{pagination_url}" class="pagination__next">Next Page</a></li>
				{/next_page}

				{last_page}
					<li><a href="{pagination_url}" class="pagination__last">Last Page</a></li>
				{/last_page}
			</ul>
		{/pagination_links}
	{/paginate}

{/exp:channel:entries}